// Layout

$max-width:  960px;
$bp-tablet:  768px;
$bp-desktop: 960px;

// Colors

$bleu-fonce: #004A88;
$bleu-clair: #0076B4;
$jaune: #FCBE0E;
$gris: #E8EDEF;

// Typos

$font-size-base: 75%;
$font-default: 'Verdana' , sans-serif;
$font-title: 'Exo', $font-default, sans-serif;
$font-size-tablet: 80%;
$font-size-desktop: 87.5%;
